*, *::before, *::after {
    box-sizing: border-box;
    font-size: 65%;
}

/* header spacing score highscore and time at top of page */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    padding: 10px 40px 10px 40px;
    font-size: 4rem;
}

/* content container centered on page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* text that shows on start button page */
#start-page {
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}

/* question container */
.question {
    font-size: 2rem;
    padding: 40px 50px 20px 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* container for quiz box */
.container {
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    background-color: lightgray;
    padding: 20px;
    box-shadow: 0 0 5px 1px;
}

/* column of answer buttons */
.btn-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    max-width: 100%;
    padding-left: 30px;
}

/* all buttons on page */
.btn {
    background-color: rgb(95, 63, 95);
    border-radius: 5px;
    padding: 5px 5px 5px 15px;
    color: rgb(228, 225, 225);
    outline: none;
    font-size: 1.6rem;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}

/* change color when button is correct */
.btn.correct {
    background-color: green;
}

/* changes color when button is wrong */
.btn.wrong {
    background-color: rgb(145, 12, 12);
}

/* button changes when cursor hovers over it */
.btn:hover,
.start-btn:hover,
.next-btn:hover {
    border-color: black;
    color: black;
}

/* start and next buttons container */
.controls {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* start and next buttons */
.start-btn, 
.next-btn {
    font-size: 2.4rem;
    padding: 5px 10px;
}

/* hides content when class is changed */
.hide {
    display: none;
}

/* content changes when screen size decreases */
@media only screen and (max-width: 600px) {
    header {
        font-size: 3rem; 
    }

    .question {
        padding: 10px;
        font-size: 1.6rem;
    }

    .btn-column {
        padding: 10px;
        width: 80%;
    }

    .btn {
        font-size: 1.3rem;
    }
  }